<h2 id="title">ember-svg-shapes</h2>

<h3>svg-triangle</h3>

{{svg-triangle direction="right" size="100" class="green"}}

<h3>svg-circle</h3>

{{svg-circle size="100" fill="red"}}

<h3>svg-square</h3>

{{svg-square size="100" fill="purple"}}
{{svg-square size="120" fill="orange" radiusX="20" radiusY="20"}}


<h3>svg-rectangle</h3>

{{svg-rectangle height="100" width="70" fill="red"}}
{{svg-rectangle height="80" width="300" fill="green" radiusX="20" radiusY="20"}}

<h3>svg-star</h3>

5-point star
{{svg-star size="100" class="blue"}}

5-point star
{{svg-star size="100" class="blue" innerPoints="1.4"}}

7-point star
{{svg-star size="100" class="red" starPoints="7" innerPoints="1.4"}}


{{outlet}}
