
<h2>svg-triangle</h2>

<pre><code>&#123;&#123;svg-triangle
  direction="left|right|up|down"
  size="number"
  strokeWidth="number"
  rotate="number of degrees"
  filter="filter id"
  class="class names"&#125;&#125;</code></pre>

<div>
    <div>
        direction: {{direction}}
    </div>
    <div>
        <select id="direction" {{action 'changeDirection' on="change"}}>
            <option value="up">Up</option>
            <option value="down">Down</option>
            <option value="left">Left</option>
            <option value="right">Right</option>
        </select>
    </div>
</div>
<div>
    <div>
        size: {{size}}
    </div>
    <div>
        {{input type="range" value=size min="1" max="500" step="1" class="range-slider"}}
    </div>
</div>
<div>
    <div>
        strokeWidth: {{strokeWidth}}
    </div>
    <div>
        {{input type="range" value=strokeWidth min="0" max="100" step="1" class="range-slider"}}
    </div>
</div>
<div>
    <div>
        rotate: {{rotate}}
    </div>
    <div>
        {{input type="range" value=rotate min="-360" max="360" step="0.1" class="range-slider"}}
    </div>
</div>
<div align="center">
    {{svg-triangle direction=direction rotate=rotate size=size strokeWidth=strokeWidth class="green"}}
</div>
